:host {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .books-card {
    width: 334px;
  }

  @media (max-width: 1024px) {
    .books-card {
      flex-direction: column;
      width: 100%;
    }
  }
}
