<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <span routerLink="/home" class="app-label">Books App</span>
    <hr />
    <nav>
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="books" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        >Books</a
      >
      <a routerLink="books/favorites" routerLinkActive="active">Favorites</a>
      <a routerLink="login" routerLinkActive="active">Login</a>
      <a routerLink="sign-up" routerLinkActive="active">Sign Up</a>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <header>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        <span routerLink="/home" class="app-label">Books App</span>
        <nav>
          <a routerLink="/home" routerLinkActive="active">Home</a>
          <a
            routerLink="books"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Books</a
          >
          <a routerLink="books/favorites" routerLinkActive="active">Favorites</a>
          <a routerLink="login" routerLinkActive="active">Login</a>
          <a routerLink="sign-up" routerLinkActive="active">Sign Up</a>
        </nav>
      </header>
    </mat-toolbar>
    <section>
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
