<mat-card>
  <mat-card-header>
    <mat-card-title>{{ book.name }}</mat-card-title>
    <mat-card-subtitle>Authors: {{ book.authors }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Publisher: <b>{{ book.publisher }}</b>
    </p>
    <p>
      Number of Pages: <b>{{ book.numberOfPages }}</b>
    </p>
    <p>
      Release Date: <b>{{ book.released | date }}</b>
    </p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button [routerLink]="['/books/details/' + book.id]">View Details</a>
    <button class="favorite-btn" (click)="toggleFavorite()" mat-icon-button>
      <mat-icon
        [ngClass]="{
          'favorite-icon': isFavorite$ | async,
        }"
        >favorite</mat-icon
      >
    </button>
  </mat-card-actions>
</mat-card>
